<h2>Create New User</h2>
<form method="post">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" name="username" required><br><br>
    <label for="password">Password:</label>
    <input type="password" name="password" required><br><br>
    <label for="name">Name:</label>
    <input type="text" name="name" required><br><br>
    <label for="mobile">Mobile:</label>
    <input type="text" name="mobile" required><br><br>
    <label for="address">Address:</label>
    <textarea name="address" required></textarea><br><br>
    <label for="business_name">Business Name:</label>
    <input type="text" name="business_name" required><br><br>
    <label for="business_number">Buisness No.</label>
    <input type="text" name="business_number" required><br><br>
    <label for="email">Email</label>
    <input type="email" name="email" required><br><br>
    <label for="gstnumber">GST No.</label>
    <input type="number" name="gstnumber" required><br><br>
    <label for="pannumber">Pan No.</label>
    <input type="text" name="pannumber" required><br><br>
    <label for="category">Category</label>
    <input type="text" name="category" required><br><br>
    <label for="city">City</label>
    <input type="text" name="city" required><br><br>
    <label for="pin">PIN</label>
    <input type="number" name="pin" required><br><br>
    <button type="submit">Create User</button>
</form>
<a href="{% url 'admin_dashboard' %}">Back to Dashboard</a>